---
import "../styles/global.css";
---

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const cursor = document.getElementById("custom-cursor");

		if (!cursor) return; // sale si no existe

		let mouseX = 0,
			mouseY = 0;
		let cursorX = 0,
			cursorY = 0;

		document.addEventListener("mousemove", (e) => {
			mouseX = e.clientX;
			mouseY = e.clientY;
		});

		function animateCursor() {
			cursorX += (mouseX - cursorX) * 0.2;
			cursorY += (mouseY - cursorY) * 0.2;
			cursor!.style.transform = `translate3d(${cursorX}px, ${cursorY}px, 0)`;
			requestAnimationFrame(animateCursor);
		}

		animateCursor();

		document.addEventListener("mousedown", () => {
			cursor.classList.add("clicked");
			cursor.style.backgroundImage =
				"url('/assets/cursors/glitch_cursor_click.png')";
		});
		document.addEventListener("mouseup", () => {
			cursor.classList.remove("clicked");
			cursor.style.backgroundImage =
				"url('/assets/cursors/glitch_cursor_arrow.png')";
		});

		const links = document.querySelectorAll("a, button");
		links.forEach((el) => {
			el.addEventListener("mouseenter", () => {
				cursor.style.backgroundImage =
					"url('/assets/cursors/glitch_cursor_click.png')";
			});
			el.addEventListener("mouseleave", () => {
				cursor.style.backgroundImage =
					"url('/assets/cursors/glitch_cursor_arrow.png')";
			});
		});

		document.addEventListener("mouseleave", () => {
			cursor.style.opacity = "0";
		});
		document.addEventListener("mouseenter", () => {
			cursor.style.opacity = "1";
		});

		const iframes = document.querySelectorAll("iframe.figma-embed");

		iframes.forEach((frame) => {
			frame.addEventListener("mouseenter", () => {
				cursor.style.opacity = "0";
			});
			frame.addEventListener("mouseleave", () => {
				cursor.style.opacity = "1";
			});
		});
	});
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/universo.svg" />
		<link rel="icon" type="image/png" href="/universo.png" sizes="32x32" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>AstroFolio (Giovanni Papa)</title>
	</head>
	<body>
		<div id="custom-cursor"></div>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
